#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define FUN 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
          &kp Q &kp W &kp F &kp P &kp B                      &kp J   &kp L &kp U     &kp Y   &kp SEMI
          &kp A &kp R &kp S &kp T &kp G                      &kp M   &kp N &kp E     &kp I   &kp O
          &kp Z &kp X &kp C &kp D &kp V                      &kp K   &kp H &kp COMMA &kp DOT &kp SLASH

                &kp LALT &kp SPACE &kp TAB                &kp RET &kp BSPC &kp RALT
            >;
        };

        function_layer {
            bindings = <
          &kp Q &kp W &kp E &kp R &kp T                      &kp Y   &kp U &kp I     &kp O   &kp P
          &kp A &kp S &kp D &kp F &kp G                      &kp H   &kp J &kp K     &kp L   &kp SEMI
          &kp Z &kp X &kp C &kp V &kp B                      &kp N   &kp M &kp COMMA &kp DOT &kp SLASH

                  &out OUT_TOG &bt BT_CLR &bt BT_NXT          &kp RET &kp BSPC &trans
            >;
        };
    };
};

